<h2>Phone List</h2>

<div class="card bg-light">
    <div class="card-body">
        <div class="form-group">
            <input 
                #phoneModel
                (keyup)="onPhoneChange(phoneModel.value)"
                [(ngModel)]="filter.phoneModel"
                type="text" 
                class="form-control" 
                placeholder="Search Phone ...">
        </div>
        <div class="form-group">
            <input 
                #contactName
                (keyup)="onContactChange(contactName.value)"
                [(ngModel)]="filter.contactName"
                type="text" 
                class="form-control" 
                placeholder="Search Contact ...">
        </div>
        <div class="form-group">
            <input 
                #purchaseDate
                (keyup)="onDateChange(purchaseDate.value)"
                [(ngModel)]="filter.purchaseDate"
                type="text" 
                class="form-control" 
                placeholder="Search Date ...">
        </div>
        <button (click)="resetFilter()" class="btn btn-secondary">Reset</button>
    </div>
</div>

<br/>

<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <th>Phone Model</th>
        <th>Price</th>
        <th>Contact Name</th>
        <th>Contact Email</th>
        <th>Contact Phone</th>
        <th>Purchase Date</th>
    </thead>
    <i *ngIf="!displayedPhones" class="spinner-border text-info" style="width: 3rem; height: 3rem;" role="status"></i>
    <tbody>
        <tr *ngFor="let p of displayedPhones">
            <td>
                <a href="{{ p.descriptionUrl }}">
                    {{ p.name }}
                </a>
            </td>
            <td>{{ p.price | currency }}</td>
            <td>{{ p.contact.name }}</td>
            <td>{{ p.contact.email }}</td>
            <td>{{ p.contact.phone }}</td>
            <td>{{ p.purchaseDate | date }}</td>
        </tr>
    </tbody>
</table>
<ngb-pagination 
    *ngIf="filteredPhones"
    [collectionSize]="filteredPhones.length" 
    [(page)]="filter.page"
    [(pageSize)]="filter.pageSize"
    (pageChange)="applyPagination()"
    aria-label="Default pagination">
</ngb-pagination>
