<h2>Phone Data Warehouse Project Home Page.</h2>
<p>Welcome to Phone Data Warehouse Application, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<p><code>Data warehouse</code> is a system used for reporting and data analysis, and is considered a core component of business intelligence.</p>
<p>Data taken from following requests using fake API service <a href="https://jsonplaceholder.typicode.com/">JSON placeholder</a>:</p>
<ul>
  <li>
    <a href='http://my-json-server.typicode.com/Leriatod/PhonesFakeApiService/rozetkaPhones/'>
      First Data Source
    </a>
  </li>
  <li>
    <a href='http://my-json-server.typicode.com/Leriatod/PhonesFakeApiService/alloPhones/'>
      Second Data Source
    </a>
  </li>
</ul>
<button (click)="reloadPhones()" class="btn btn-light">Reload Phone DWH</button>
